  <details open>
    <summary>
      <h2>Introduction</h2>
    </summary>

    <p>This template engine is an evolution of the Drash service named <a
        href="https://drash.land/drash/v2.x/tutorials/services/drash-approved-services/tengine">tengine</a>.</p>
    <p>Tengine is based on a module named <a
        href="https://github.com/drashland/drash/blob/main/src/services/tengine/jae.ts">Jae</a> that was originally
      inspired by a blog post by Krasmir Tsonev: <a
        href="https://krasimirtsonev.com/blog/article/Javascript-template-engine-in-just-20-line">a javascript
        template
        engine in 20 lines</a></p>
  </details>