<details>
  <summary>
    <h2>Specific markup</h2>
  </summary>

  <p>
    The markup inside HTML files used by <code>ApgTngService</code> is
    identified by the delimiters <code>&lt;% ... %&gt;</code>
  </p>
  <p>
    Inside the delimiters, it is possible to write standard javascript code. The
    following reserved words and symbols are used to help the engine to identify
    javascript statements.
  </p>
  <p>
    <code> var, let, const, =, if, else, switch, case, break, for, do, while, ;, {, }.</code>
  </p>
  <p>
    If none of the preceding is found inside the delimiters the engine supposes
    that the statement is a data value that has to be interpolated inside the HTML output.</p>
</details>