<details>
  <summary>
    <h2>Data interpolation</h2>
  </summary>

  <p>It is possible to insert values dynamically inside the templates using a
    data object. The interpolator
    identifies
    the fields of the data object and replaces the placeholders in the template
    with the appropriate values </p>
  <p>Having this data object for a simple menu:</p>
  <p>
  <pre><code>
      const templateData = { 
        links: [{ 
            href: "/home", 
            caption: "Home",
            color: "red"
          },
          {
            href: "/customers",
            caption: "Customers",
            color: "blue"
          }
          { 
            href: "/orders", 
            caption: "Orders",
            color: "green"
          }]
      }
    </code></pre>
  </p>
  <p>It is possible to write a simple template that creates all the links
    dynamically</p>
  <p>
  <pre><code>
        &lt;% for (const link of links ) { %&gt;
        &lt;p&gt;
          &lt;a href="&lt;% link.href %&gt;" style="color: &lt;% link.color %&gt;"&gt;
            &lt;% link.caption %&gt;
          &lt;/a&gt;
        &lt;/p&gt;
        &lt;% } %&gt;
      </code></pre>
  </p>
  <p>Please note that in the previous template we are using directly the field
    names of the <code>templateData</code> object.
    The builder of the javascript function wraps all the code inside a
    <code>"with"</code> statement that simplifies access to the fields.
  </p>
  <p>Interpolator uses backtick strings and ECMAScript's literals string
    interpolation, so if specific formatting of the data is required it is
    necessary to preformat the data as a string, before inserting it in the data
    object.</p>

</details>