<details>
  <summary>
    <h2>Deliverables</h2>
  </summary>
  <p>
    To promote the reuse of portions a web server can be used to store a library
    of shared components to be delivered as small chunks of HTML with
    specific markup.<br>
    The deliverables usually are specific to a CSS framework, so it is suggested
    practice to store them in an appropriate series of separate folders.
  </p>
  <p>
    To get those remote potions, the page developer could specify the full URL
    to reach them on the remote server:
  <pre><code>
      &#91; partial("https://apg-tng.deno.dev/deliver/[cssFramework]/[partialName].html") &#93;
    </code></pre>
  </p>
  <p>
    This syntax would couple tightly the page to the remote site that delivers the
    partials. To get more flexibility a remote host can be specified as an optional argument of the
    <code>Init</code> method of the <b>ApgTngService</b>: see <b>initialization</b>.
  </p>
  <p>
    It is possible to refer to remote deliverable portions in the markup
    using the <code>{Host}</code> syntax:
  <pre><code>
      &#91; partial("{Host}/deliver/[cssFramework]/[partialName].html")&#93;
    </code></pre>
  Alternatively to get the remote deliverable portion it is possible to use the
  Host property directly in typescript code using the following syntax.
  <pre><code>
      const remoteToolbarPartial = ApgTngService.Host + "/deliver/[cssFramework]/[partialName].html";
      const toolBarData = {...}
      const toolbarHtml = await ApgTngService.Render(remoteToolbarPartial, toolBarData) as string;
    </code></pre>
  </p>
  <p>
    <b>Important</b>. If the cache management is enabled the remote portions are
    downloaded once and then are reused by the <code>ApgTngService</code> for all the following
    calls.
  </p>
  <p>

    <b>ApgTngService</b> can be paired with an <b>ApgTngServer</b> that defines
    Drash resources to deliver portions to remote clients.<br>
    See the <a href="/deliverable/frameworks">Deliverable framework</a> pages to
    explore the portions delivered by this website.
  </p>

</details>