<details>
    <summary>
        <h2>Template markup</h2>
    </summary>

    <p>
        To combine, merge and embed template files are available the following markup commands:
    </p>
    <ul>
        <li>
            <code>&#91;: extends("template") :&#93;</code> Define an ancestor/parent template, typically a layout or
            master page, for the current page template.
        </li>
        <li>
            <code>&#91;: partial("template" , [arguments]) :&#93;</code> Define a sibling/child template, typically a reusable component inside the current page template.
        </li>
        <li>
            <code>&#91;: yield :&#93;</code> Used inside layout or master page template to define the placeholder where
            the child template will be inserted.
        </li>
    </ul>
    <p>
        The <code>"template"</code> argument is the relative path of the HTML file that will be used. 
    </p>
    <p>
        Please note that the relative path can refer to a local folder or to a remote web server. In the latter case, the file is fetched as a deliverable portion. Read ahead for further details.
    </p>
    <p>
        The root for the relative paths for the local and remote portions are set up with the <code>ApgTngService.Init(...)</code> method. If not specified the "./srv/templates" path is used for the local portions.
    </p>
    <p>
        The <code>[arguments]</code> argument is optional and is an array of object references that will be used in the partial to replace the placeholdes. This mechanism allows to reuse the same partial in a page with different parameters. Read ahead for further details.
    </p>
</details>