[: extends("/master/ApgTngPicoDeployMaster_0_9_7.html") :]

[: partial("/partials/ApgTngHomeIntroductionPartial.html") :]

[: partial("/partials/ApgTngHomeHowItWorksPartial.html") :]

[: partial("/partials/ApgTngHomeSpecificMarkupPartial.html") :]

[: partial("/partials/ApgTngHomeDataInterpolationPartial.html") :]

[: partial("/partials/ApgTngHomeTemplateMarkupPartial.html") :]

[: partial("/partials/ApgTngHomeInitializationPartial.html") :]

[: partial("/partials/ApgTngHomeCacheManagementPartial.html") :]

[: partial("/partials/ApgTngHomeUsagePartial.html") :]

[: partial("/partials/ApgTngHomeDeliverablesPartial.html") :]

[: partial("/partials/ApgTngHomeComponentsPartial.html") :]