[: extends("/master/ApgTngPicoDeployMaster_0_9_7.html") :]


[: switch (_mode_) {
case "undefined": { :]
<h2>ERROR! The querystring parameter [: rawMode :] is invalid.</h2>
[: break;
}
case "menu": { :]
[: for (const link of _links_) { :]
<h4>
  <a href="[: link.href :]">
    [: link.caption :]
  </a>
  [: if( link.items != ""){ :]
  ([: link.items :])
  [: } :]
</h4>
[: } :]
[: break;
}
case "files": { :]
[: for (const file of _files_) { :]
<details>
  <summary>
    <h4>[: file.key :]</h4>
  </summary>
  <pre><code>
        [: file.content :]
      </code></pre>
</details>
[: } :]
[: break;
}
case "functions": { :]
[: for (const fn of _functions_) { :]
<details>
  <summary>
    <h4>[: fn.key :]</h4>
  </summary>
  <pre><code>
        [: fn.content :]
      </code></pre>
</details>
[: } :]
[: break;
}
case "chunks": { :]
[: for (const chunk of _chunks_) { :]
<details>
  <summary>
    <h4>[: chunk.key :]</h4>
  </summary>
  <pre><code>
        [: chunk.content :]
      </code></pre>
</details>
[: } :]
[: break;
}
case "examples": { :]
[: _examples_ :]
[: break;
}
case "schemas": { :]
[: for (const schema of _schemas_) { :]
<details>
  <summary>
    <h4>[: schema.key :]</h4>
  </summary>
  <pre><code>
        [: schema.content :]
      </code></pre>
</details>
[: } :]
[: break;
} :]
[: } :]