<% extends("/master/pico.html") %>

  <p>This tutorial is made with TNG !! &#129327;</p>

  <h3>Step 1: Page template </h3>
  <p>The following html code shows how to:</p>
  <ul>
    <li>extend a master or layout page,</li>
    <li>use field interpolation to generate dinamycally some content,</li>
    <li>include a reusable "partial"</li>
  </ul>
  <pre>
    <% tutorial.page %>
  </pre>

  <hr>

  <h3>Step 2: Partial template </h3>
  <p>The following html code shows how to:</p>
  <ul>
    <li>use field interpolation inside the user_details "partial"</li>
    <li>use native javascript code inside the html template</li>
  </ul>
  <pre>
    <% tutorial.partial %>
  </pre>

  <hr>

  <h3>Step 3: js data </h3>
  <p>The following js data is used to interpolate fields in html templates. </p>
  <pre>
    <% tutorial.data %>
  </pre>

  <hr>

  <h3>Step 4: Drash resource code </h3>
  <p>The following ts code is used to render the page template and interpolate the templateData.</p>
  <pre>
    <% tutorial.resource %>
  </pre>

  <hr>

  <h3>Step 5: Final result </h3>
  <p>The produced html for this very simple example is the following:</p>
  <article>
    <div style="max-width: 640px; margin: 50px auto;">
      <h1>
        <% user.name %>
      </h1>
      <img src="<% user.image %>" style="width: 50%">
      <% partial("/partials/user_details.html") %>
    </div>
  </article>