<% extends("/master/pico.HTML") %>

  <section>
    <details>
      <summary>
        <h1>Documentation</h1>
      </summary>


      <details open>
        <summary>
          <h2>Introduction</h2>
        </summary>

        <p>This template engine is an evolution of the Drash service named <a
            href="https://drash.land/drash/v2.x/tutorials/services/drash-approved-services/tengine">tengine</a>.</p>
        <p>Tengine is based on a module named <a
            href="https://github.com/drashland/drash/blob/main/src/services/tengine/jae.ts">Jae</a> that was originally
          inspired by a blog post by Krasmir Tsonev: <a
            href="https://krasimirtsonev.com/blog/article/Javascript-template-engine-in-just-20-line">a javascript
            template
            engine in 20 lines</a></p>
      </details>
      <details>
        <summary>
          <h2>How it works</h2>
        </summary>

        <p>The templates are standard HTML files with additional specific markup. A parser analyzes the HTML files,
          identifies the specific markup and builds a javascript function on the fly that will create the final HTML.
        </p>
        <p>TNG has several optimizations to speed up the generation process. Three different caches that can be enabled
          optionally are used to store in memory the HTML templates and the generated functions.</p>
      </details>

      <details>
        <summary>
          <h2>Specific markup</h2>
        </summary>

        <h1></h1>
        <p> The markup inside HTML files used by <code>ApgTngService</code> is identified by the delimiters
          <code>&lt;% ... %&gt;</code>
        </p>
        <p> Inside the delimiters, it is possible to write standard javascript code. The following reserved words and
          symbols are allowed.</p>
        <p> <code> let, const, if, else, switch, case, break, for, do, while, ;, {, }.</code></p>
      </details>

      <details>
        <summary>
          <h2>Data interpolation</h2>
        </summary>

        <p>It is possible to insert values dynamically inside the templates using a data object. The interpolator
          identifies
          the fields of the data object and replaces the placeholders in the template with the appropriate values </p>
        <p>Having this data object for a simple menu:</p>
        <p>
        <pre><code>
      const templateData = { 
        links: [{ 
            href: "/home", 
            caption:"Home",
            color:"red"
          },
          {
            href: "/customers",
            caption:"Customers",
            color:"blue"
          }
          { 
            href: "/orders", 
            caption:"Orders",
            color:"green"
          }]
      }
    </code></pre>
        </p>
        <p>It is possible to write a simple template that creates all the links dynamically</p>
        <p>
        <pre><code>
        &lt;% for (const link of links ) { %&gt;
        &lt;p&gt;
          &lt;a href="&lt;% link.href %&gt;" style="color: &lt;% link.color %&gt;"&gt;
            &lt;% link.caption %&gt;
          &lt;/a&gt;
        &lt;/p&gt;
        &lt;% } %&gt;
      </code></pre>
        </p>
        <p>Please note that in the template we are using directly the field names of the <code>templateData</code>
          object.
          The builder of the javascript function wraps all the code inside a <code>"with"</code> statement that
          simplifies
          access to the fields.</p>
        <p>Interpolator uses backtick strings and ECMAScript's literals string interpolation, so if specific
          formatting of the data is required it is necessary to preformat the data as a string, before inserting it in
          the
          data object.</p>

      </details>

      <details>
        <summary>
          <h2>Templates markup</h2>
        </summary>

        <p> To combine, merge end embed template files are available the following markup commands:</p>
        <ul>
          <li><code>&lt;% extends([template]) %&gt;</code> Define an ancestor/parent template, typically a layout or
            master
            page, for the current page template.</li>
          <li><code>&lt;% partial([template]) %&gt;</code> Define a sibling/child template, typically a reusable
            component
            inside the current page template </li>
          <li><code>&lt;% yield %&gt;</code> Used inside layout or master page template to define the placeholder where
            the
            child template will be inserted.</li>
        </ul>
        <p> The [template] argument is the relative path of the HTML file that will be used.</p>
        <p> The root path for the templates is set up with the <code>ApgTngService.Init(...) method.</code> </p>
      </details>

      <details>
        <summary>
          <h2>Initialization</h2>
        </summary>

        <p>To configure the <code>ApgTngService</code> it is necessary to call the <code>Init</code> method that has the
          following signature.</p>
        <p><code>Init(atemplatesPath: string, aoptions?: IApgTngServiceOptions)</code></p>
        <p>The <code>atemplatesPath</code> argument defines the root path referred to <code>Deno.cwd()</code> where the
          templates are stored.</p>
        <p>The options object has the following fields:</p>
        <ul>
          <li>
            <code>useCache: boolean </code> Default value is false. Enables the caching systems of the service. <br>
            There are three caches. The first one is a Map() used to store the HTML templates instead than reading them
            from the disk again and again. This is especially useful for the master pages and the partials components
            that are reused often. <br>
            The second one is a Map() that stores the applied actual javascript function generated by the service for
            the rendered template. So once created the function no further access to the disk is required. <br>
            The key of the first two maps is the template file name with its relative path. <br>
            The third one is another Map() explained in detail in the following field. <br>
            <mark>
              It is suggested to disable caches in development. Doing so every time a page will be rendered, the
              function generation process will be repeated but will be possible to edit the HTML files on the fly. After
              saving the templates it will be possible to see the changes immediately in the browser by refreshing the
              page without restarting Deno.<br>
              The behaviour of this option can be overriden by using the <code>auseCache</code> argument in the Render
              method. Refer to the "Usage" section.
            </mark>
          </li>
          <li>
            <code>cacheChunksLongerThan: number</code> Default value is 100. When field <code>useCache</code> is set to
            true when the service is creating the javascript function it can cache the HTML chunks that have more than
            the
            specified number of characters. The cache is a Map() object whose keys are the hash values of the HTML chunk
            obtained with a bryc hashing algorithm.
          </li>
          <li>
            <code>consoleLog: boolean</code> Default value is false. It is used for debugging purposes and prints on the
            StdOut stream the internal messages related to the processing events.
          </li>
        </ul>
      </details>

      <details>
        <summary>
          <h2>Usage</h2>
        </summary>
        <p>Once initialized the service it is possible to invoke the page generation with the call to the
          <code>Render</code> method that has the following signature:
        </p>
        <p>
        <pre><code>
        ApgTngService.Render(
          atemplateFile: string,
          atemplateData: unknown,
          auseCache = true
        ): string;</code></pre>
        </p>
        <ul>
          <li>
            <code>atemplateFile</code> File with its relative path that has to be used as template;
          </li>
          <li>
            <code>atemplateData</code> Data object that has to be used for interpolation;
          </li>
          <li>
            <code>auseCache</code> Flag that if is set to <code>false</code> can be used to override the
            <code>useCache</code> initialization option, in order to debug and develop a template even if the service is
            using cache functionality for the others;
          </li>
        </ul>
        <p>The result is the HTML page as a string that can be sent back to the client as response to an incoming
          request.</p>
      </details>

    </details>
  </section>

  <section id="examples">
    <h1>Examples</h1>
    <div style="max-width: 640px; margin: 50px auto;">
      <% partial("/partials/examples_links.HTML") %>
    </div>
  </section>