<% extends("/master/pico.html") %>

  <% partial("/partials/home_introduction.html") %>

  <% partial("/partials/home_how_it_works.html") %>

  <% partial("/partials/home_specific_markup.html") %>

  <% partial("/partials/home_data_interpolation.html") %>

  <% partial("/partials/home_template_markup.html") %>

  <% partial("/partials/home_initialization.html") %>

  <% partial("/partials/home_cache_management.html") %>
  
  <% partial("/partials/home_usage.html") %>

  <% partial("/partials/home_deliverables.html") %>


